.main {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  flex: 1;
  height: 100vh;
  object-fit: contain;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  margin: 0;
}

.appbody {
  flex: 3;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  object-fit: contain;
  overflow: hidden;
}

.partList {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
}

.partInfo {
  display: flex;
  flex-direction: column;
  height: 86vh;
  overflow: scroll;
}

.partData {
  background-color: #3635376c;
  height: 100vh;
  padding: 2rem;
}

.logoDiv {
  left: 0;
  bottom: 0;
  height: 7vh;
  position: relative;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 1rem; 
  justify-content: flex-start;
  align-items: flex-start;
}

.objectInfo {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.crackInfo {
  width: 70vw;
  display: inline-block;
  padding: 1rem;
  margin: 0;
  background-color: rgb(240, 54, 54);
}

.splash {
  height: 90vh;
  width: 70vw;
  display: flex;
  padding-left: 5px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.crackGrid {
  padding: 1rem;
  display: block;
  overflow: auto;
}

.crackGridItem {
  padding: 2rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.crackGridItem:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
  background-color:rgb(240, 54, 54);
  opacity: 1;
  border-radius: 25px 80px 30px 60px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 0;
  transition: .5s ease;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.image {
  object-fit: contain;
  width: 30% !important;
  position: relative !important;
  height: unset !important;
  padding: 3px;
}

.card {
  position: relative;
  height: 100px;
  padding: 2rem;
  flex: 1;
  transition: 0.5s;
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 0 8px 0 #ff0019ad;
  background-color: #ff0019e8;;
}

.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: large;
}

.bigtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
  padding: 2rem 0 2rem 0;
}

.subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: small;
}
