.glassCard {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(32, 32, 32, 0.726);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.068);
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
  }